.todoList {
    background-color:lightgray; 
    height: 100vw;
}

.titleTodoList {
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 50px;
}

.todoListItems {
    background: white;
    border-radius: 12px; 
}

.addedTask {
    display: flex;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    height: 44px;
    width: 500px;
    gap: 12px;
    justify-content: space-between;
    cursor: pointer;
}

.addedTask:hover {
    background-color: coral;
}

.buttonDelet {
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: tomato;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttonDelet:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
    cursor: pointer;
    color:black;
  }