.searchBlock {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  
  .search {
      display: inline-block;
      border: 2px solid #eee;
      padding: 10px 20px;
      font-family: Verdana, Arial, sans-serif;
      font-size: 16px;
      border-radius: 12px;
      width: 400px;
      background-color: snow;
  }
  
  .searchButton {
    border-radius: 12px;
    color: white;
    transition: .2s linear;
    background: #0B63F6;
    height: 41px;
    width: 104px;
  }
  
  .searchButton:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
    cursor: pointer;
    color:black;
  }
  
  .search::placeholder {
    color: black;
    font-size: 16px;
    font-weight: 30px;
  }
  